<%- include("Partials/header") -%>

    <h1> Compose </h1>
    
    <form action="/compose" method="post">
        
        <div class="form-group">
            <label>Title</label><br>
            <input class="form-control" type="textbox" name="newContentHead" autocomplete="off">
        </div>
        <div class="form-group">
            <label>Post</label><br>
            <textarea class="form-control" name="newContent" autocomplete="off"></textarea>
        </div>
        
        <button class="btn btn-primary" type="submit" name="" > Publish </button>
    </form>

<%- include("Partials/footer") -%>