<%- include("Partials/header") -%>
<h1>Contact</h1>
<br><h4> <%=StartingContent%> </h4>
<a href="https://github.com/SSShreyash" target="_blank">GitHub/SSShreyash</a>
<%- include("Partials/footer") -%>